# Project exclude paths

# Dependency directories
node_modules
jspm_packages/


# Output of 'npm pack'
*.tgz

# Optional npm cache directory
.npm

# Runtime data

pids
*.pid
*.seed
*.pid.lock

build
npm-debug.log
.nyc
.env
.env.test
.DS_Store

